body{
   font-family: Arial, Helvetica, sans-serif;
   font-size: 15px;
   line-height: 1.5;
   padding: 0;
   margin: 0;
   background-color: #f4f4f4;
}

/* Global */
.container{
   width: 80%;
   margin: auto;
   overflow: hidden;
}

ul{
   margin: 0;
   padding: 0;
}

.button_1{
   height: 38px;
   background: #E8491d;
   border: none;
   padding: 0 20px 0 20px;
   color: #FFFFFF;
}

.dark{
   padding: 15px;
   background: #35424a;
   color: #FFFFFF;
   margin: 10px 0 10px 0;
}

h1{
   font-size: 50px;
}

h2{
   font-size: 35px;
}



/* Header */
header{
   background: #236AB9;
   color: #c0c0c0;
   padding-top: 30px;
   min-height: 70px;
   border-bottom: solid #FDDC22 2px;
}

header a{
   color: #c0c0c0;
   text-decoration: none;
   text-transform: uppercase;
   font-size: 16px;
}

header li{
   float: left;
   display: inline;
   padding: 0 20px 0 20px;
}


header #branding{
   float: left;
}

header #branding h2{
   margin: 0;
   padding: 0;
   line-height: 1.0;
   font-weight: normal;
}
header #branding .subtitle{
   float: left;
   clear: left;
   color: #c0c0c0;
   margin: 2px 0 0 3px;
}

header nav{
   float: right;
   margin-top: 15px;
}

header .highlight,
header .current a{
   color: #FDDC22;
   font-weight: bold;
}

header a:hover{
   color: #FFFFFF;
   font-weight: bold;
}


/* Showcase */
#showcase{
   min-height: 300px;
   text-align: center;
   background: url('../img/showcase-light.jpg') center/150% no-repeat;
   color: #000000;
}

#showcase .container{
   width: 80%;
   /*background: linear-gradient( silver, #f4f4f4);*/
   min-height: inherit;
   max-width: 1000px;
}

#showcase h1{
   font-size: 50px;
   margin-top: 75px;
}

#showcase ul{

}

#showcase .box{
   font-size: 50px;
   float: left;
   width: 49%;
   margin: 70px 5px 5px 0;
   padding: 0;
   text-align: center;
   background: white;
   color: #000000
   opacity: 0.5;
}


#showcase p{
   font-size: 20px;
   text-align: justify;
}

/* Statement */
#statement{
   text-align: left;
   color: #FFFFFF;
}

#signature{
   font-size: 14px;
   float: right;
   margin-bottom: 20px;
}


/* Customers */
#customers{
   color: #000000;
   background: #c0c0c0;
   text-align: center;
   list-style: none;
   padding-bottom: 20px;
}

#customers ul{
   list-style: inherit;
}

/* Newletter
#newsletter{
   padding: 15px;
   color: #FFFFFF;
   background: #35424a
}

#newsletter h1{
   float:left;
}

#newsletter form{
   float: right;
   margin-top: 15px;
}

#newsletter input[type="email"]{
   padding:4px;
   height:25px;
   width: 250px;
}*/

/* Boxes */
/* TODO: Replace container pseudoclass with flexbox
         and figure out ie compatibility
*/

#boxes{
   margin: 25px 0 25px 0;
   display: inline-block;
   text-align: justify;
}

#boxes .container{
   text-align: justify;
}

#boxes .container:after {
  content: '';
  width: 100%; /* At least 2 lines of text forces justification */
  display: inline-block;
}

#boxes .box{
   width: 30%;
   display: inline-block;
   text-align: center;
   min-height: 350px;
   padding: 10px;
}

#boxes .box img{
   height: 100px;
}


/* Main Column*/
article.main-col{
   float: left;
   width: 60%;
   text-align: left;
}

article img{
   display: inline;
}

article p{
   float: left;
}

/* Sidebar */
aside#sidebar{
   float: right;
   width: 35%;
}

aside#sidebar img{
   height: 12px;
   padding-right: 5px;
   color: #FFFFFF;
}

aside#sidebar .quote input,
aside#sidebar .quote textarea{
   width: 90%;
   padding: 5px;
}

/* Services */
ul#services li{
   list-style: none;
   padding: 20px;
   border: #CCCCCC solid 1px;
   margin-bottom: 5px;
   background: #e6e6e6;
}

footer{
   text-align: center;
   color: #c0c0c0;
   background-color: #236AB9;
   padding: 10px;
   margin-top: 20px;
}

/* ------------------------------- Media Options ---------------------------*/
@media(max-width: 768px){
   header #branding,
   header  .subtitle,
   header nav,
   header nav li,
   #showcase .box,
   #newsletter h1,
   #newsletter form,
   #boxes .box,
   article.main-col,
   aside#sidebar{
      float: none;
      text-align: center;
      width: 100%
   }

#showcase{
      background: url('../img/showcase-light.jpg') center/300% no-repeat;
   }

   #boxes .box{
      padding: 0px;
   }

   #showcase h1{
      margin-top: 50px;
      font-size: 30px;
   }

   #newsletter button, .quote button{
      display: block;
      width: 100%;
   }

   #newsletter form input[type="email"]{
      width: 100%;
      margin-bottom: 5px;
   }
}
