body{
   font-family: Arial, Helvetica, sans-serif;
   font-size: 15px;
   line-height: 1.5;
   padding: 0;
   margin: 0;
   background-color: #f4f4f4;
}

/* Global */
.container{
   width: 80%;
   margin: auto;
   overflow: hidden;
}

ul{
   margin: 0;
   padding: 0;
}

.button_1{
   height: 38px;
   background: #E8491d;
   border: none;
   padding: 0 20px 0 20px;
   color: #FFFFFF;
}

.dark{
   padding: 15px;
   background: #35424a;
   color: #FFFFFF;
   margin: 10px 0 10px 0;
   text-align: left;
}

h1{
   font-size: 50px;
}

h2{
   font-size: 35px;
}

.page-title{
   padding: 0;
   margin: 10px 0px 20px 0px;
}

/* Header */
header{
   background: #236AB9;
   color: #c0c0c0;
   padding-top: 14px;
   min-height: 70px;
   border-bottom: solid #FDDC22 3px;
}

header li{
   display: inline;
   padding: 10px 20px;
}

header #branding{
   float: left;
}

header #branding h2{
   margin: 0;
   padding: 0;
   line-height: 1.0;
   font-weight: normal;
}

header #branding a{
   text-decoration: none;
   color: inherit;
   font-weight: inherit;
}

header #branding .subtitle{
   float: left;
   clear: left;
   color: #c0c0c0;
   margin: 2px 0 0 3px;
}

header nav{
   float: right;
   margin-top: 15px;
}

header .highlight,
header .current a{
   color: #FDDC22;
   font-weight: bold;
}

header nav a{
   color: #c0c0c0;
   text-decoration: none;
   text-transform: uppercase;
   font-size: 16px;
}

header nav a:hover{
   border-bottom: 4px solid #FDDC22;
   transition: ease-in-out 130ms;
   color: #FFFFFF;
}

/* Announce */
#announce{
   background-color:#a4c1e2;
   text-align: center;
   padding: 1px;
   margin: 0px;
}

/* Showcase */
#showcase{
   min-height: 300px;
   text-align: center;
   background: url('../img/showcase-light.jpg') center/100% no-repeat;
   color: #000000;
}

#showcase .container{
   width: 70%;
   /*background: linear-gradient( silver, #f4f4f4);*/
   min-height: inherit;
   max-width: 800px;
}

#showcase h1{
   font-size: 50px;
   margin-top: 75px;
}

#showcase .box{
   font-size: 50px;
   float: left;
   width: 49%;
   margin: 70px 5px 5px 0;
   padding: 0;
   text-align: center;
   background: white;
   color: #000000;
   opacity: 0.5;
}


#showcase p{
   font-size: 20px;
   text-align: left;
}

#signature{
   font-size: 14px;
   float: right;
   margin-bottom: 20px;
}

/* Customers */
#customers{
   color: #000000;
   text-align: center;
   list-style: none;
   padding-bottom: 20px;
}

#customers ul{
   list-style: inherit;
   font-size: 18px;
}

#customers h2{
   margin: 30px 0 10px 0;
}



/* Offerings */
#offerings .service{
   min-height: 150px;
   display: block;
   float: left;
   margin: 15px 30px 15px 30px;
   width: 95%;
   box-shadow: 0 0 20px rgba(0,0,0,0.2);
   padding-bottom: 10px;
}

#offerings .service .h3{
   font-size: 14px;
}

#offerings .service .description{
   float: left;
   width: 60%;
   margin: 30px 0 0 30px;
}

#offerings img{
   width: 40%;
   float: right;
   max-height: 300px;
   max-width: 450px;
}

#offerings h3{
   font-size: 20px;
   font-weight: bold;
}


/* Newletter
#newsletter{
   padding: 15px;
   color: #FFFFFF;
   background: #35424a
}

#newsletter h1{
   float:left;
}

#newsletter form{
   float: right;
   margin-top: 15px;
}

#newsletter input[type="email"]{
   padding:4px;
   height:25px;
   width: 250px;
}*/

/* Boxes */
/* TODO: Replace container pseudoclass with flexbox
         and figure out ie compatibility
*/


/*
#boxes{
   margin: 25px 0 25px 0;
   display: inline-block;
   text-align: justify;
   width: 100%;
}

#boxes .container{
   text-align: justify;
}

#boxes .container::after {
  content: '';
  width: 100%; /* At least 2 lines of text forces justification
  display: inline-block;
}

#boxes .box{
   width: 30%;
   text-align: center;
   display: inline-block;
   float: left;
   margin: 3px 10px 3px 10px;
   min-height: 350px;
}

#boxes .box img{
   height: 100px;
}

#boxes .box ul{
   text-align: left;
   margin: 15px;
}*/



/* Main Column*/
article.main-col{
   float: left;
   width: 65%;
   text-align: left;
}

article.main-col img{
   width: 100%;
}

article p{
   float: left;
}

/* Sidebar */
aside#sidebar{
   float: right;
   width: 30%;
   text-align: center;
}

aside#sidebar img{
   height: 12px;
   padding-right: 5px;
   color: #FFFFFF;
}

aside#sidebar img#portrait{
   margin: 110px 0px 0px 0px;
   height: auto;
}

aside#sidebar a{
   text-decoration: underline;
   color: inherit;
}

aside#sidebar a:hover{
   text-decoration: underline;
   color: #FDDC22;

}

aside#sidebar .quote input,
aside#sidebar .quote textarea{
   width: 90%;
   padding: 5px;
}

/* Services */

#services{
 list-style: none;
}

#services .bullets{
   list-style: disc;
}

footer{
   text-align: center;
   color: #c0c0c0;
   background-color: #236AB9;
   padding: 10px;
   margin-top: 20px;
}

/* ------------------------------- Media Options ---------------------------*/
@media(max-width: 768px){
   header #branding,
   header  .subtitle,
   header nav,
   header nav li,
   #showcase .box,
   #newsletter h1,
   #newsletter form,
   #boxes .box,
   #offerings .service,
   #offerings .service .description,
   article.main-col,
   aside#sidebar{
      float: none;
      text-align: center;
      width: 100%
   }

header nav li{
   padding: 10px;
}

#showcase{
      background: url('../img/showcase-light.jpg') center/300% no-repeat;
   }

   #boxes .box{
      padding: 0px;
   }

   #showcase h1{
      margin-top: 50px;
      font-size: 30px;
   }

   #newsletter button, .quote button{
      display: block;
      width: 100%;
   }

   #newsletter form input[type="email"]{
      width: 100%;
      margin-bottom: 5px;
   }

   #offerings .service{
      width: 80%;
      padding: 10px 10px 65px 10px;
   }

   #offerings .service img{
      display:none;
   }

      #offerings .service .description{
         padding: 0;
         margin: 0;
      }
}
